{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <style>
        label{
            color: #fff;
            margin-bottom: 10px;
        }
        input{
            margin-bottom: 15px;
        }
    </style>
    <div class="pagina-inicial">
        {% include 'components/_header.html' %}
        <main class="principal">
            {% include 'components/_menu_lateral.html' %}
            <section class="galeria" style="margin-left: 5em">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <label for="usuario">Login</label>
                            <input type="text" name="usuario" class="form-control" placeholder="Digite o login..." required>
                        </div>
                        <div class="col-12">
                            <label for="senha">Senha</label>
                            <input type="password" name="senha" class="form-control" placeholder="Digite a senha..." required>
                        </div>
                        <button type="submit" class="btn btn-success col-12">Logar</button>
                    </div>
                </form>
            </section>
        </main>
    </div>
{% endblock %}