{% load static %}
<section class="tags">
    <p class="tags__titulo">Busque por tags:</p>
    <ul class="tags__lista">
        <li class="tags__tag"><a href="{% url 'imagem.filter' 'NEBULOSA' %}" class="btn" style="color:#c9c9c9"> Nebulosa</a></li>
        <li class="tags__tag"><a href="{% url 'imagem.filter' 'ESTRELA' %}" class="btn" style="color:#c9c9c9"> Estrela</a></li>
        <li class="tags__tag"><a href="{% url 'imagem.filter' 'GALÁXIA' %}" class="btn" style="color:#c9c9c9"> Galáxia</a></li>
        <li class="tags__tag"><a href="{% url 'imagem.filter' 'PLANETA' %}" class="btn" style="color:#c9c9c9"> Planeta</a></li>
    </ul>
</section>